.grid {
    width: 600px;
    height: 600px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-areas: "c1 c2 c3"
                         "c4 c5 c6"
                         "c7 c8 c9";
}

/*cell class*/

.cell {
    display: flex;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 200px;
    height: 200px;
    background-color: rgb(216, 216, 216);
}

p {
    font-size: 100px;
    margin: 0 auto;
    margin-top: 20%;
}



/*cells ids*/

#c1 {
    grid-area: c1;
}

#c2 {
    grid-area: c2;
}

#c3 {
    grid-area: c3;
}

#c4 {
    grid-area: c4;
}

#c5 {
    grid-area: c5;
}

#c6 {
    grid-area: c6;
}

#c7 {
    grid-area: c7;
}

#c8 {
    grid-area: c8;
}

#c9 {
    grid-area: c9;
}